<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat-Da-Burger</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
  {{{ body }}}

  {{!-- <main class="container text-center">
    <h1>Eat-Da-Burger</h1>
    <section class="row">
      <article class="col-lg-4 col-md-12 text-center">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2" scope="col">Burger list:</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <th scope="row">

                <!-- BURGER NUMBER -->
              </th>
              <td>
                <p>

                  <!-- BURGER CONTENT  -->
                </p>
                <button data-id="idFromDB" id="eatBurger" type="button" class="btn btn-secondary">Delete</button>
                <button data-id="idFromDB" id="deleteFromList" type="button" class="btn btn-danger">DEVOUR IT</button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </article>
      <article class="middle-col col-lg-4 col-md-12 text-center">
        <p id="emptyAlert">We don't serve air, only burgers!</p>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Your burger:</span>
          <input data-input="burgerName" type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" />
        </div>
        <button id="addToList" type="button" class="btn btn-secondary">Add burger</button>
        <button id="eatOnSave" type="button" class="btn btn-danger">Devour right away!</button>
        <img src="../../public/assets/img/burger.png" class="img-fluid" />
      </article>
      <article class="col-lg-4 col-md-12 text-center">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2" scope="col">Burgers devoured:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">

                <!-- DEVOURED BURGER NUMBER -->
              </th>
              <td>
                <p>

                  <!-- DEVOURED BURGER -->
                </p>
                <button data-devoured-id="idFromDB" id="deleteDevoured" type="button" class="btn btn-secondary">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </main> --}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="/assets/script/script.js"></script>
</body>

</html>