body {
  background-color: rgb(148, 155, 130);
}

.middle-col {
  padding-top: 20px;
}

h1 {
  font-size: 4em;
  line-height: 2em;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 48, 73);
}

.burgerName {
  font-size: 1.5em;
  font-weight: 700;
}

#emptyAlert {
  font-size: 1.5em;
  color: darkred;
  font-weight: 900;
  line-height: 0.1em;
  display: none;
}